.main-container {
  text-align: center;
  padding: 8rem;

  .main-description {
    margin-top: 1rem;
    width: 65ch;
    font-size: 1.1rem;
    line-height: 1.5;
    text-wrap: pretty;
    margin-inline: auto;
  }

  a {
    margin-top: 1rem;
    display: inline-block;
    background-color: #11112c;
    color: #d4d4ec;
    border: 1px solid #c2c2f3;
    border-radius: 0.5rem;
    text-decoration: none;
    padding: 1rem 2.6rem;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: #bf9beb;
    }
  }
}

.card-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
